body {
    background-color: #dddad7;
}

.sidebar {
    max-width: 30%;
    padding: 3% 2%;
    background-color: #434365e0;
    color: #fff;
}

.section_content {
    max-width: 70%;
    padding: 3% 4%;
    color: #0a0a0a;
}

.title {
    border-bottom: 1px solid;
    padding-bottom: 5px;
    margin-bottom: 10px;
    font-size: 30px;
    line-height: 32px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: 0.05em;
}

